.DS_Store
Manifest.lock
UserInterfaceState.xcuserstate
Pods
#Example/OpenCast.xcodeproj/xcuserdata/
Example/OpenCast.xcodeproj/project.xcworkspace/xcuserdata/
Breakpoints_v2.xcbkptlist
Example/OpenCast.xcworkspace/xcuserdata/
Example/OpenCast.xcworkspace/xcuserdata/phb.xcuserdatad/UserInterfaceState.xcuserstate
